
	
<!DOCTYPE html>
<html>
    <head>
        <title>Sebastian Oviedo</title>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/menu') %>
        
        <div class="container">
            <section class="row d-flex pt-5 pb-0 ">
                <div class="col-12 pt-5 pb-0 text-center">
                    <h2>Ooops... there was an error</h2>
                    <p class="text-secondary"><%= msg %></p>
                </div>
            </section>
        </div>
        
        <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        
    </body>
</html>
