
	
<!DOCTYPE html>
<html>
    <head>
        <title>Sebastian Oviedo</title>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/menu') %>
        
        <div class="container">

            <section class="row d-flex pt-5 justify-content-center">
                <div class="col-12 d-flex justify-content-center mb-5">
                    <img class="rounded mb-5" src="<%= imgPath %>" alt="user-image-result" srcset="">
                </div>
            </section>

        </div>
        
        <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        
    </body>
</html>
